 /* The sidebar menu */
 @font-face {
  font-family: tiltwarp;
  src: url(fonts/TiltWarp.ttf);
}
@font-face {
  font-family: outfit;
  src: url(fonts/Outfit-VariableFont_wght.ttf);
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 32vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fe2640ff;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  transform: skewX(-3deg) translateX(-10%);
}

/* The navigation menu links */
.sidenav navtext {
  margin-left: 180px;
  margin-right:50px;
  text-decoration: none;
  font-size: 40px;
  color: #000000;
  display: block;
  font-family: TiltWarp;
  float:right;
  text-align: left;
}

.sidenav a{
  text-decoration: none;
}

.sidenav logotext {
    margin-left: 15vw;
    margin-bottom:50px;
    margin-top:0px;
    margin-right:25px;
    
  text-decoration: none;
  font-size: 45px;
  color: #000000;
  font-family: TiltWarp;
  display: flexbox;
  float:right;
  transform:skewX(3deg);
}

@keyframes moveright {
    100%{
        transform:translateX(10px);
        color: #f1f1f1;
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav navtext:hover {
  animation: moveright .1s ease-in-out;
  animation-fill-mode: forwards;
}

.sidenav socials {
  position: absolute;
  bottom: 10px;
  right: 40px;
  height: 110px;
}

.sidenav logo img{
  transform:skewX(3deg);
  width:200px;
  height:200px;
  margin-left:155px;
  aspect-ratio: 1;
  float:right;
  margin-right:35px;
}

/* Style page content */
.main {
  margin-left: 30vw; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.game{
    width:90%;
    height:280px;
    margin: 20px;
    margin-right:40px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    outline: 8px;
    outline-color: black;
    outline-style: solid;
    box-shadow: 20px 20px;
    position: relative;
    text-align: center;
    /* color: white; */
    overflow:clip;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.6) 100%);
    display: inline-flexbox;
    margin-bottom:30px;
    float:right;
}

.game:hover {
  animation: gamehover .2s ease-in-out;
  animation-fill-mode: forwards;
}

.game img{
  width:100%;
  height:100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

@keyframes gamehover{
    100%{
        transform:translateY(-5px);
        outline-color: #fe2640ff;
        box-shadow: 20px 30px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(0, 0, 0, 0.6) 100%);
    }
}
.section-header{
  font-family: TiltWarp;
  font-size: 60px;
  color: black;
  margin-left:15px;
  float:right;
  font-style: italic;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 40px;
  font-family: TiltWarp;
  color:white;
  /* text-shadow: black 1px 0 10px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
  .sidenav {
    width: 100%;
    height: auto;
    padding:10px;
    transform: skewX(0deg);
    height: auto;
  }
  
  .sidenav logotext{
    font-size:0px;
  }
  .sidenav navtext {
    float: left;
    top:0;
    text-align: center;
    margin:auto;
    margin-left:10px;
    transform: skewX(-3deg);
    font-size:min(20em, 6vw);
    margin-top:5px;
  }

  .sidenav logo img{
    float:left;
    width:50px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    transform:skewX(0deg);
    margin-right:10px;
  }
  .sidenav socials{
    float:right;
    top:0;
    height:100px;
    bottom:0;
    right:0;
    transform: scale(0.7);
    margin-right:10px;
    padding-left:20px;
  }
  .main{
    margin-left: 0%;
  }
  .game{
    margin-right:20px;
  }
}


p{
  font-family: outfit;
  font-size:min(10em, 2vw);
}

.gameheader img{
  width: 10px;
  object-fit:contain;
}
